body
{
   background-color: #1546A0;
   background-image: url(http://54.186.75.236/images/index_bkgrnd.png);
   background-repeat: repeat-y;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Shape1
{
   border-width: 0;
}
#Shape2
{
   border-width: 0;
}
#Shape3
{
   border-width: 0;
}
#Shape4
{
   border-width: 0;
}
#Shape5
{
   border-width: 0;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Shape4
{
   position: absolute;
   left: 422px;
   top: 648px;
   width: 153px;
   height: 47px;
   z-index: 6;
}
#wb_Shape5
{
   position: absolute;
   left: 0px;
   top: 2px;
   width: 1118px;
   height: 112px;
   z-index: 7;
}
#Shape1
{
   width: 63px;
   height: 60px;
}
#wb_Text1
{
   position: absolute;
   left: 135px;
   top: 233px;
   width: 382px;
   height: 24px;
   z-index: 0;
   text-align: left;
}
#Shape2
{
   width: 63px;
   height: 60px;
}
#wb_Text2
{
   position: absolute;
   left: 135px;
   top: 342px;
   width: 481px;
   height: 22px;
   z-index: 1;
   text-align: left;
}
#Shape3
{
   width: 63px;
   height: 60px;
}
#wb_Text3
{
   position: absolute;
   left: 135px;
   top: 452px;
   width: 561px;
   height: 22px;
   z-index: 2;
   text-align: left;
}
#wb_Text4
{
   position: absolute;
   left: 448px;
   top: 19px;
   width: 248px;
   height: 59px;
   z-index: 8;
   text-align: left;
}
#Shape4
{
   width: 153px;
   height: 47px;
}
#wb_Text5
{
   position: absolute;
   left: 72px;
   top: 228px;
   width: 32px;
   height: 24px;
   text-align: center;
   z-index: 9;
}
#Shape5
{
   width: 1118px;
   height: 112px;
}
#wb_Text6
{
   position: absolute;
   left: 72px;
   top: 340px;
   width: 32px;
   height: 24px;
   text-align: center;
   z-index: 10;
}
#wb_Text7
{
   position: absolute;
   left: 72px;
   top: 447px;
   width: 32px;
   height: 24px;
   text-align: center;
   z-index: 11;
}
#wb_Text8
{
   position: absolute;
   left: 430px;
   top: 661px;
   width: 145px;
   height: 18px;
   text-align: center;
   z-index: 12;
}
#wb_Shape1
{
   position: absolute;
   left: 62px;
   top: 212px;
   width: 63px;
   height: 60px;
   z-index: 3;
}
#wb_Shape2
{
   position: absolute;
   left: 62px;
   top: 324px;
   width: 63px;
   height: 60px;
   z-index: 4;
}
#wb_Shape3
{
   position: absolute;
   left: 62px;
   top: 431px;
   width: 63px;
   height: 60px;
   z-index: 5;
}
@media only screen and (max-width: 320px)
{
#wb_Text1
{
   left: 135px;
   top: 227px;
   width: 881px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   left: 135px;
   top: 338px;
   width: 881px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   left: 135px;
   top: 445px;
   width: 881px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_Shape1
{
   left: 62px;
   top: 212px;
   visibility: visible;
   display: inline;
}
#wb_Shape2
{
   left: 62px;
   top: 324px;
   visibility: visible;
   display: inline;
}
#wb_Shape3
{
   left: 62px;
   top: 431px;
   visibility: visible;
   display: inline;
}
#wb_Shape4
{
   left: 445px;
   top: 723px;
   visibility: visible;
   display: inline;
}
#wb_Shape5
{
   left: 0px;
   top: 2px;
   visibility: visible;
   display: inline;
}
#wb_Text4
{
   left: 400px;
   top: 17px;
   width: 248px;
   height: 59px;
   visibility: visible;
   display: inline;
}
#wb_Text5
{
   left: 72px;
   top: 228px;
   width: 32px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   left: 72px;
   top: 340px;
   width: 32px;
   height: 24px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   left: 72px;
   top: 447px;
   width: 32px;
   height: 24px;
   visibility: visible;
   display: inline;
}
}
